.list {
    border-radius: 1rem;
    padding: 1.25rem 1rem 1.5rem 1.25rem;
    width: 15.63rem;
    height: 30.13rem;
    background: #f8f8f8;
}

.item {
    width: 13.38rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.0625rem;
}

.main {
    grid-area: menu;
    grid-row: 1 / 3;
}