.Count {
    width: 8.44rem;
    height: 2.5rem;
    border: 0.0625rem solid var(--color-gray-200);
    border-radius: 7.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-primary-white);
    position: relative;
    box-shadow: 0 0.375rem 1rem rgba(15, 23, 42, 0.04);
}

.Count > * {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Count::before,
.Count::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background: var(--color-gray-100);
}

.Count::before {
    left: 33.33%;
}

.Count::after {
    left: 66.66%;
}

.button {
    border: none;
    background: transparent;
    cursor: pointer;
}

@media (max-width: 48rem) {
    .Count {
        width: 7.75rem;
        height: 2.375rem;
    }
}
