.card {
    width: 20.56rem;
    height: 16.5rem;
    position: relative;
}

.cardSection {
    width: 88rem;
    height: 16.5rem;
    display: flex;
    justify-content: space-between;
    grid-area: card;
}