/*.container {*/
/*    height: 30rem;*/
/*    margin: 5rem auto;*/
/*    width: 100%;*/
/*    max-width: 95.5rem; !* твоя старая ширина *!*/
/*}*/

/*.cardFLex {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    margin: 0 auto;*/
/*    height: 23.5rem;*/
/*    width: 100%;*/
/*}*/

/*.iconLeft, .iconRight  {*/
/*    height: 2.5rem;*/
/*    width: 2.5rem;*/
/*}*/

/*.iconLeft {*/
/*    margin-top: 6.875rem;*/
/*}*/

/*.iconRight {*/
/*    margin-top: 6.875rem;*/
/*}*/

.container {
    width: 100%;
    max-width: 95.5rem;
    margin: 5rem auto;
}

.sliderWrapper {
    position: relative;
}

.cardFlex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.iconLeft,
.iconRight {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.iconLeft {
    left: -1.5rem;
}

.iconRight {
    right: -1.5rem;
}