.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 7.38rem;
}


.productRating {
    display: flex;
    gap: 1.30rem;
    align-items: center;

    width: 12.75rem;
    height: 1.31rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 48rem) {
    .product {
        min-height: 6.5rem;
    }

    .productRating {
        width: 100%;
        gap: 0.625rem;
        flex-wrap: wrap;
    }
}
