.nav {
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;

    font-family:var(--font-secondary), sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color:var(--color-gray-700) ;
}

.item {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.icon {
    height: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.150rem;
}