.Wish {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    border-radius: 7.5rem;
    width: 2.38rem;
    height: 2.38rem;
    background-color: var(--color-primary-white);
    display: flex;
    align-items: center;
    justify-content: center;
}