.container {
    max-width: 88.25rem;
    width: 100%;
    height: 148.13rem;
    padding: 0 0.375rem;

    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.title {
    min-height: 171.375rem;
    max-width: 69.75rem;
    width: 100%;
    margin-top:2.375rem;
}

.filter {
    max-width: 14.88rem;
    width: 100%;
    height: 94rem;
    margin-top:2.375rem;
    border-right: 1px solid var(--color-gray-200);
}