:root {
    --font-main: "Inter", sans-serif;
    --font-accent: "Fredoka", sans-serif;
    --font-ui: "Jost", sans-serif;
    --font-secondary: "Mulish", sans-serif;
    --font-default: "Roboto", sans-serif;
    --font-logo: "Titan One", cursive;
}