:root {
    /* font weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* typography presets */
    --text-h1: var(--fw-bold) 3.5rem/1.2 var(--font-accent);
    --text-h2: var(--fw-semibold) 2rem/1.3 var(--font-main);
    --text-card: var(--fw-bold) 1.5rem/1.25 var(--font-accent);

    --text-body-lg: var(--fw-regular) 1.125rem/1.6 var(--font-main);
    --text-body: var(--fw-regular) 1rem/1.5 var(--font-main);
    --text-body-sm: var(--fw-light) 0.875rem/1.4 var(--font-main);

    --text-logo: var(--fw-regular) 1.5rem/1 var(--font-logo);

    /* Button*/
    --text-button: var(--fw-medium) 0.9rem/1 var(--font-ui);
    /**/

    /*ProductPrice*/
    --text-Newprice: var(--fw-medium) 1.56rem/1.25 var(--font-accent);
    --text-Oldprice: var(--fw-medium) 1.25rem/1.25 var(--font-accent);
    /* */

    /*ProductReviews*/
    --text-reviews: var(--fw-regular) 0.88rem/1.50 var(--font-secondary);
    /**/

    /*ProductSales*/
    --text-sales: var(--fw-semibold) 1rem/0 var(--font-secondary);
    /**/

    /*ProductCardText*/
    --text-productCard: var(--fw-regular) 1.13rem/1.25 var(--font-secondary);
    /**/

    /*Title*/
    --text-title: var(--fw-bold) 3rem/1.20 var(--font-accent);
    /**/

    /*PromoSection*/
    /*Button*/
    --text-promoButton: var(--fw-medium) 1rem/1.25 var(--font-accent);
    /**/
    /*Title*/
    --text-promoTitle: var(--fw-semibold) 2rem/1.25 var(--font-accent);
    --text-promoTitleSecond: var(--fw-medium) 3rem/1.25 var(--font-accent);
    /**/
    /*Text*/
    --text-promoText: var(--fw-regular) 1rem/1.50 var(--font-secondary);
    --text-promoTextSecond: var(--fw-light) 1.5rem/1.25 var(--font-accent);
    /**/
    /*PromoSection End*/

    /*Categories Title*/
    --text-categoriesTitle: var(--fw-medium) 1.5rem/1.25 var(--font-accent);
    /*Categories Title ended*/

    /*productDetail Title*/
    --text-productDetailTitle: var(--fw-medium) 2.5rem/1.20 var(--font-accent);

}